.badge {
  width: 25px;
  height: 25px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.smallbadge {
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 50px;
  background-color: tomato;
}
