.screen-header {
  display: flex;
  padding: var(--horizontal-space);
  padding-top: var(--header-top-padding);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  display: flex;
}

.screen-header__icons span {
  display: block;
  position: relative;
  height: inherit;
  margin-left: 25px;
}

.screen-header__smallbadge {
  position: absolute;
  left: 20px;
  bottom: 18px;
}
